In [1]:
# Define the function "say_hello" so it prints "Hello!" when called
def say_hello():
    print("Hello!")

In [2]:
# Call the function
say_hello()

Hello!

In [3]:
# Define the function "say_something" so it prints whatever is passed as the variable when called
def say_something(something):
    print(something)

In [4]:
# Call the function
say_something("Hello World")

Hello World

In [5]:
Jane_says = "Hi, my name is Jane. I'm learning Python!"
say_something(Jane_says)

Hi, my name is Jane. I'm learning Python!

In [6]:
# Pandas map() function: used for substituting each value in a Series with another value
# The new value is generated from a function,a dictionary, or a Series

# Example:
# A list of my grades
my_grades = ['B','C','B','D']
# Import pandas
import pandas as pd
# Convert the my_grades to a Series
my_grades = pd.Series(my_grades)
my_grades

0    B
1    C
2    B
3    D
dtype: object

In [7]:
# Use the map() function to change B to A, C to B, and D to C
# Use the following format to change each string value in this Series to another value:
# map("current_value_1" : "new_value_1",  "current_value_2" : "new_value_2", etc)

# Change the grades by one letter grade
my_grades.map({'B':'A', 'C':'B', 'D':'C'})

0    A
1    B
2    A
3    C
dtype: object

In [8]:
# Pandas format() function: used to format a value to a specific format
# such as one or two decimal places, or adding a thousands separator 
# format() function sytnax: "{value:format specification}".format(value)
# "value" within {} represents the value we want to format
# value within () is a variable 
# format specification will designate how the value will be formatted

# Example:
my_grades = [92.34, 84.56, 86.78, 98.32]

for grade in my_grades:
    print("{:.0f}".format(grade))

92
85
87
98

In [9]:
# Chaining the map() and format() functions:
# apply the format() function to a Series or column in a DataFrame by chaining the map() & format() functions

# Example:
# Convert the numerical grades to a Series
my_grades = pd.Series([92.34, 84.56, 86.78, 78.32])
my_grades

0    92.34
1    84.56
2    86.78
3    78.32
dtype: float64

In [10]:
# Format the grades to the nearest whole number percent
my_grades.map("{:.0f}".format)

0    92
1    85
2    87
3    78
dtype: object